<div class="header-back">
  <header-section></header-section>
</div>
<div class="info-box">
  <div class="left-part">
    <img class="img" alt="" *ngIf="images.size > mainId; else ImageNotFound" [src]="images.get(mainId)"/>
    <ng-template #ImageNotFound>
      <img class="img" src="../assets/images/slider-img.png" />
    </ng-template>
    <div class="gallery">
      <ul>
        @for (i of [0, 1, 2, 3, 4]; track i) {
        <li class="minthmbheiht" *ngIf="images.size > i" >
          <div #hoverName (click)="selectImage(i)" (mouseover)="onMouseEnter(hoverName)" (mouseleave)="onMouseOut(hoverName)">
            <img class="cstm-img-center" alt="" [src]="images.get(i)" />
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="right-part">
    <h1 class="title">{{lot!.name}}</h1>
    <h6>Времени до завершения: {{daysBefore}}дней {{hoursBefore}}ч {{minsBefore}}мин {{secsBefore}}с</h6>
    <div>
      Категории:
      <a class="cat-ref" *ngFor="let cat of lot!.categoryInfos" href="/catalog">{{cat.categoryName}}</a>
    </div>
    <h6>Состояние: {{lot!.conditionName}}</h6>

    <div class="user-box" *ngIf="!isSeller">
      <img *ngIf="sellerAvatar.size !== 0; else NotFound" [src]="sellerAvatar.get(lot!.sellerId)" />
      <ng-template #NotFound>
        <img src="../assets/images/client-1.png" />
      </ng-template>
      <div class="info">
        <h3 class="name">{{lot!.sellerName}}</h3>
        <div class="rating-box">
          @for (i of [1, 2, 3, 4, 5]; track i) {
            @if (lot!.sellerRating >= 2 * i) {
              <img src="../assets/images/star.png" />
            } @else {
              <img src="../assets/images/black-star.png" />
            }
          }
        </div>
      </div>
    </div>

    <h6>Вид аукциона: {{lot!.auctionTypeName}}</h6>
    <div *ngIf="lot!.auctionTypeId <= 2">
      <h5>Шаг цены: {{lot!.costStep / 100}} BYN</h5>
    </div>
    <h2>Текущая стоимость:</h2>
    <h1 class="title">{{currentCost / 100}} BYN</h1>
    <div class="button-conteiner" *ngIf="!isSeller; else SellerOptions">
      <button class="buttton" (click)="modalService.open('modal-1')">сделать ставку</button>
      <button (click)="favoriteClick()">
        @if (isFavorite) {
          <img src="../assets/images/hurt.png" />
        } @else {
          <img src="../assets/images/hurt-white.png" />
        }
      </button>
    </div>
    <ng-template #SellerOptions>
      <div class="button-conteiner">
        <button class="buttton" (click)="redirectToEdit()" ng-disabled="!isNew">редактировать</button>
        <button class="buttton" (click)="modalService.open('yes-no')">удалить</button>
      </div>
    </ng-template>
  </div>
</div>

<jw-modal id="modal-1">
  <h1>Ставка</h1>
  <p>Размер ставки:</p>
  <input type="number" [(ngModel)]="bid.size" />
  <div *ngIf="lot!.auctionTypeId==1">
    <p>Повышать автоматически до:</p>
    <input type="number" [(ngModel)]="bid.maxSize" />
  </div>
  <div>
    <button (click)="placeBid()">отправить</button>
    <button (click)="modalService.close();">назад</button>
  </div>
</jw-modal>

<jw-modal id="yes-no">
  <h1>Удалить лот?</h1>
  <div>
    <button (click)="delete()">ок</button>
    <button (click)="modalService.close();">отмена</button>
  </div>
</jw-modal>

<div class="margin-section">
  <h1 class="title">Описание</h1>
  {{lot!.description}}
  <div class="info-box">
    <div *ngIf="lot!.parameters.size != 0" class="left-table">
      <div>
        <div class="title">Дополнительные параметры:</div>
        <table class="table">
          @for (param of lot!.parameters | keyvalue; track param) {
          <tr>
            <th>{{param.key}}</th>
            @if(param.value) {
            <th>{{param.value}}</th>
            }
            @else {
            <th>-</th>
            }
          </tr>
          }
        </table>
      </div>
    </div>
    <div [class.right-table]="lot!.parameters.size != 0" class="right-table">
      <div *ngIf="lot!.deliveryInfos.length != 0; else noDelivery">
        <div class="title">Доставка:</div>
        <table class="table">
          @for (delivery of lot!.deliveryInfos; track delivery) {
          <tr>
            <th>{{delivery.countryName}}</th>
            <th>{{delivery.size / 100}} BYN</th>
          </tr>
          }
        </table>
      </div>
      <ng-template #noDelivery>
        Доставка только самовывозом
      </ng-template>
    </div>
  </div>
</div>
<div class="margin-section">
  <h1 class="title">Комментарии</h1>
  <div *ngIf="comments.length != 0; else NoComments">
    <div *ngFor="let com of comments" class="comment-boxx">
      <img *ngIf="comAvatars.has(com.userId); else AvaNotFound" [src]="comAvatars.get(com.userId)" />
      <ng-template #AvaNotFound>
        <img src="../assets/images/client-2.png" />
      </ng-template>
      <div class="info">
        <div class="com-author">
          <h5>{{com.userName}}</h5>
          <div class="com-time">{{com.time | date: 'hh:mm:ss a' }}</div>
        </div>
        <div>{{com.text}}</div>
      </div>
    </div>
  </div>
  <ng-template #NoComments>
    Здесь пока нет комментариев
  </ng-template>
  <div class="com-string">
    <input type="text" placeholder="Введите текст" [(ngModel)]="newComment.text">
    <button (click)="placeComment()">
      Отправить
    </button>
  </div>
</div>
