<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" style="margin-left: 45px" href="index.html">
        <img src="../assets/images/Logo.png" alt="" />
      </a>
      <button class="navbar-toggler" type="button" title="button" (click)="onPanelClick()">
        <span class="navbar-toggler-icon" [ngStyle]="{'background-image': (navPanel) ? 'url(../assets/images/menu.png)' : 'url(../assets/images/menu.png)'}"></span>
      </button>

      <div *ngIf="navPanel" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="catalog">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="simulation">Симуляция</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">О нас</a>
          </li>
        </ul>
        <div class="user_option">
          <a href="login">
            <img src="../assets/images/user.png" alt="">
            <span *ngIf="userShort; else UnAuth" (mouseenter)="onUserEnter()" (mouseleave)="onUserLeave()">
              {{userShort.name}}
            </span>
            <ng-template #UnAuth>
              Войти
            </ng-template>
          </a>
          <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0" *ngIf="userShort">
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit" (click)="logOut()"></button>
          </form>
        </div>
      </div>
      <div>
        <div class="custom_menu-btn" *ngIf="!navPanel; else NoHeader">
          <button title="button" type="button" (click)="onPanelClick()">
            <span class=" s-1">

            </span>
            <span class="s-2">

            </span>
            <span class="s-3">

            </span>
          </button>
        </div>
        <ng-template class="custom_menu-btn" #NoHeader>
          <img class="img-size" src="../../../assets/images/close.png" (click)="onPanelClick()" />
        </ng-template>
      </div>

    </nav>
  </div>
  <div *ngIf="showInfo" class="hidden-section">
    <div class="info-section">
      <div class="info-box">
        <div class="image-part">
          <img *ngIf="imgFound; else AvaNotFound" [src]="userImg" />
          <ng-template #AvaNotFound>
            <img src="../assets/images/client-1.png" />
          </ng-template>
        </div>
        <div class="info-part">
          <h5>{{userShort!.name}}</h5>
          <div class="text">{{roleName}}</div>
          <div *ngIf="userShort!.roleId == 2" class="rating-box">
            @for (i of [1, 2, 3, 4, 5]; track i) {
            @if (userShort!.rating >= 2 * i) {
            <img src="../assets/images/star.png" />
            } @else {
            <img src="../assets/images/black-star.png" />
            }
            }
          </div>
        </div>
      </div>
      <a href="">Смотреть профиль</a>
      <a href="">Связанные лоты</a>
    </div>
  </div>
</header>
