.global-box {
    display: flex;
}

.global-box .filter-part {
   float: left;
   width: 15%;
}

.global-box .list-part {
    float: right;
    width: 85%;
}

  .global-box .list-part .list-box {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
