<div class="hero_area">
  <header-section></header-section>
  <!-- slider section -->
  <section class="slider_section ">
    <div class="play_btn">
      <a href="/simulation">
        <img src="../assets/images/play.png" alt="">
      </a>
    </div>
    <div class="number_box">
      <div>
        <ol class="carousel-indicators indicator-2">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
      </div>
    </div>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Лучшие
                    <span>
                      Аукционы
                    </span>
                  </h1>
                  <p>
                    Участвуй в аукционах и проводи собственные
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1">
                      Узнать больше
                    </a>
                    <a href="simulation" class="btn-2">
                      Опробовать
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 img-container">
                <div class="img-box">
                  <img src="../assets/images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Лучшие
                    <span>
                      Аукционы
                    </span>
                  </h1>
                  <p>
                    Участвуй в аукционах и проводи свои
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1">
                      Узнать больше
                    </a>
                    <a href="" class="btn-2">
                      Опробовать
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 img-container">
                <div class="img-box">
                  <img src="../assets/images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

</div>

<!-- trending section -->

<section class="trending_section layout_padding">
  <div id="accordion">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Популярные категории
              </h2>
            </div>
            <div class="tab_container">
              @for (cat of categories | keyvalue; track cat; let index = $index) {
              <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne" *ngIf="index<4" (click)="categoryClick(cat.key)">
                <div class="number">
                  <h5>
                    {{index + 1}}
                  </h5>
                </div>
                <hr>
                <div class="t-name">
                  <h5>
                    {{cat.value}}
                  </h5>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="img_container ">
              <div class="box b-1">
                <div class="img-box">
                  <img src="../assets/images/{{activeCategory}}-1.png" alt="">
                </div>
                <div class="img-box">
                  <img src="../assets/images/{{activeCategory}}-2.png" alt="">
                </div>
              </div>
              <div class="box b-2">
                <div class="img-box">
                  <img src="../assets/images/{{activeCategory}}-3.png" alt="">
                </div>
                <div class="img-box">
                  <img src="../assets/images/{{activeCategory}}-4.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- end trending section -->
<!-- discount section -->

<section class="discount_section  layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h2>
            Почти даром
          </h2>
          <h2 class="main_heading">
            ТЕКУЩАЯ СТАВКА МЕНЬШЕ 10 РУБЛЕЙ
          </h2>
          <div class="">
            <a href="">
              Перейти
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="../assets/images/discount-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end discount section -->
<!-- brand section -->

<section class="brand_section">
  <div class="container" *ngIf="lots.length != 0">
    <div class="heading_container">
      <h2>
        Новинки
      </h2>
    </div>
    <div class="brand_container layout_padding2">
      <lot-short *ngFor="let lot of lots; index as i"
                 [(info)]="lots[i]">
      </lot-short>
    </div>
    <a href="catalog" class="brand-btn">
      Смотреть больше
    </a>
  </div>
</section>

<!-- end brand section -->
