<div class="header-back">
  <header-section [activePage]="2"></header-section>
</div>
<h3 class="title">Введите информацию о лоте</h3>
<div class="lot-info">
  <div class="input-part">
    <div class="form-group">
      <label>Начальная цена:</label>
      <input type="number" [(ngModel)]="info.InitialPrice" class="form-control" />
    </div>
    <div *ngIf="info.AuctionTypeId < 3" class="form-group">
      <label *ngIf="info.AuctionTypeId == 1; else Dutch">Шаг ставки:</label>
      <ng-template #Dutch>
        <label>Минимальная стоимость:</label>
      </ng-template>
      <input type="number" [(ngModel)]="info.PriceStep" class="form-control" />
    </div>
    <div class="form-group">
      <label>Количество циклов:</label>
      <input type="number" [(ngModel)]="info.CyclesCount" class="form-control" />
    </div>
  </div>
  <div class="type-part">
    <label>Вид аукциона:</label><br />
    <mat-radio-group class="group" aria-label="Select an option" [(ngModel)]="info.AuctionTypeId">
      <mat-radio-button *ngFor="let at of auctionTypes | keyvalue" [value]="at.key">{{at.value}}</mat-radio-button><br />
    </mat-radio-group>
  </div>
  <div *ngIf="info.AuctionTypeId == 1" class="description-part">
    <textarea maxlength="60" readonly>
      Английский аукцион - наиболее известный вид. Изначально актуальная стоимость равна начальной цене товара. Ставка пользователя должна превышать актуальную стоимость товара минимум на заданных шаг ставки. После совершения ставки актуальная стоимость становится равной сумме ставки.
      Итоги подводятся после истечения времени. Победителем считается участник, совершивший последнюю ставку (она же самая высокая), а конечная стоимость предмета равна сумме этой ставки.
    </textarea>
  </div>
  <div *ngIf="info.AuctionTypeId == 2" class="description-part">
    <textarea maxlength="60" readonly>
      Голландский аукцион также известен как аукцион с понижением цены. Торги начинаются с начальной цены, после чего актуальная стоимость уменьшается на одинаковую сумму за равные промежутки времени (каждый час для настоящего аукциона, каждый цикл в симуляции). Шаг цены выбирается таким образом, что ко времени окончания аукциона она опустится до установленной минимальной стоимости.
      Пользователь может совершить ставку в любой момент аукциона. Участник, совершивший первую ставку (она же получается самой высокой) побеждает в аукционе, а конечная стоимость предмета равна сумме этой ставки.
    </textarea>
  </div>
  <div *ngIf="info.AuctionTypeId == 3" class="description-part">
    <textarea maxlength="60" readonly>
      Закрытым называется аукцион, в ходе которого участники не получают информацию о ставках друг друга. Актуальная стоимость лота на таких торгах равна начальной на протяжении всего аукциона.
      Итоги подводятся после истечения времени. Победителем признается участник, совершивший самую высокую ставку. Конечная стоимость предмета равна ставке победителя. В ситуации, когда равных максимальных ставок несколько, победелем является участник, первым совершивший ставку этой суммы.
    </textarea>
  </div>
  <div *ngIf="info.AuctionTypeId == 4" class="description-part">
    <textarea maxlength="60" readonly>
      Аукцион Викри или закрытый аукцион второй цены является модернизированной версией закрытого аукциона. В нем участники также не получают информацию о ставках друг друга, а актуальная стоимость лота на таких торгах равна начальной на протяжении всего аукциона.
      Итоги подводятся после истечения времени. Победителем признается участник, совершивший самую высокую ставку. (ВАЖНО) Конечная стоимость предмета равна второй по величине ставке. В ситуации, когда равных максимальных ставок несколько, победелем является участник, первым совершивший ставку этой суммы, а конечная стоимость равна этой сумме.
    </textarea>
  </div>
</div>
<h3 class="title">Введите информацию о участниках</h3>
<div class="user-box">
  <simulation-user class="boxx" *ngFor="let user of info.Users; index as i" [(user)]="info.Users[i]"></simulation-user>
</div>
<div class="add-box">
  <input type="button" value=" добавить " (click)="addUser()" class="btn btn-success" />
</div>
<div *ngIf="errorString; else graph">
  <label>{{errorString}}</label>
</div>
<ng-template #graph>
  <div *ngIf="result">
    <h3 class="title">Результаты</h3>
    <grafico-barras [list]="graficoInfo"></grafico-barras>
    <div *ngIf="result.winnerId; else other_content">
      <h3 class="title">Победитель аукциона: {{info.Users[result!.winnerId! - 1].Name}}</h3><br />
      <h3 class="title">Конечная стоимость: {{result!.resultCost}}</h3>
    </div>
    <ng-template #other_content>
      <label>Лот не продан</label>
    </ng-template>
  </div>
</ng-template>
<div class="add-box">
  <button (click)="run()" class="btn btn-success">запустить</button>
</div>

