.box {
  position: relative;
  text-align: center;
  background-color: #e4e5e9;
  padding: 75px 35px 10px 35px;
  margin: 30px 10px 0 10px;
  width: 350px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23.24670%;
  flex: 0 0 23.24670%;
}

  .box h6 {
    color: #252525;
  }

  .box h5 {
    color: #252525;
  }

    .box h6.price {
      color: #9D2222;
    }

  .box .new {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 35px;
    background-color: #252525;
    color: #ffffff;
  }

    .box .new h6 {
      margin: 0;
    }

  .box .img-box {
    height: 304px;
    display: flex;
    align-items: center;
    justify-items: center;
  }

    .box .img-box img {
      width: 75%;
    }

    .box .img-box div {
        width: 12.5%;
    }

  .box:hover {
    background-color: #9D2222;
  }

    .box:hover h6.price {
      color: #252525;
    }
