<div class="box">
  <a href="/lot?id={{info.lotId}}">
    <div class="new" *ngIf="info.actual">
      <h5>New</h5>
    </div>
    <div class="img-box">
      <div></div>
      <img src="../assets/images/slider-img.png" alt="" *ngIf="isImageLoading; else ImageFound">
      <ng-template #ImageFound>
        <img [src]="imageToShow" alt="" />
      </ng-template>
      <div></div>
    </div>
    <div class="detail-box">
      <h5>{{info.name}}</h5>
      <h6 class="price">
        {{info.currentCost}}$
      </h6>
      <h6>{{info.auctionTypeName}}</h6>
    </div>
  </a>
</div>
