<div class="header-back">
  <header-section></header-section>
</div>
<div class="page-back">
  <div class="wrapper">
    <div class="combined-login-box">
      <h2 class="combined-login-box-head">Регистрация</h2>
      <div class="combined-login-row">
        <label for="name" class="sr-only">Никнейм</label>
        <div class="combined-login-col">
          <input type="text" id="name" name="name" [(ngModel)]="info.name"
                 class="combined-input" placeholder="Name" required>
        </div>
      </div>
      <div class="combined-login-row">
        <label for="email" class="sr-only">Адрес эл. почты</label>
        <div class="combined-login-col">
          <input type="email" id="email" name="email" [(ngModel)]="info.email"
                 class="combined-input" placeholder="Email" required>
        </div>
      </div>
      <div class="combined-login-row">
        <label for="password" class="sr-only">Пароль</label>
        <div class="combined-login-col">
          <input type="password" id="password" name="password" [(ngModel)]="info.passwordHash"
                 class="combined-input" placeholder="Password" required>
        </div>
      </div>
      <div class="combined-login-row">
        <label for="passwordCheck" class="sr-only">Подтверждение пароля</label>
        <div class="combined-login-col">
          <input type="password" id="passwordCheck" name="passwordCheck" [(ngModel)]="passwordCheck"
                 class="combined-input" placeholder="PasswordCheck" required>
        </div>
      </div>
      <div *ngIf="!invalidParams" class="alert alert-danger">Введенные данные невалидны.</div>
      <a class="combined-ref" href="login">У меня уже есть аккаунт</a>
      <div class="combined-box">
        <button class="combined-login-btn" type="button" (click)="save()">зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>
