<div class="container body-content">
  <header class="container-fluid color-bk-header">
    <div class="row main-header justify-content-center">
      <div class="col-md-2 logo" style="width: unset"><a href="/">NODA</a></div>
      <div class="col-md-1 main--center-container" style="width: unset"><a href="/Registration/Role">Главная</a></div>
      <div class="col-md-1 main--center-container" style="width: unset"><a href="#">Категории</a></div>
      <div class="col-md-1 main--center-container" style="width: unset"><a href="#">Новинки</a></div>
      <div class="offset-md-6 col-md-1 main--center-container" style="width: unset">
        <a href="/Authorization"><i>Войти</i></a>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer class="container-fluid color-bk-footer footer">
    <div class="row">
      <div class="col-md-5">
        <p class="footer--p">Noda corparation inc.</p>
        <p class="footer--p">г. Минск, пр. Независимости, 123</p>
        <p class="footer--p">+375121234567</p>
        <p class="footer--p">nodadomain.com</p>
      </div>
      <div class="offset-md-5 col-md-2 main--center-container">
        <p>Все права защищены</p>
      </div>
    </div>
  </footer>
</div>
