<div>

  <router-outlet></router-outlet>

  <!-- info section -->
  <footer class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          Лицитатор.by
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              О нас
            </h5>
            <div>
              <div class="img-box">
                <img src="../assets/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                г.Минск ул.Гикало 9
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="../assets/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="../assets/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                demogmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Информация
            </h5>
            <p>
              Участвуй в аукционах и проводи собственные
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="../assets/images/i-1.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="../assets/images/i-2.png" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="../assets/images/i-3.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="../assets/images/i-4.png" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="../assets/images/i-5.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="../assets/images/i-6.png" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Следите за новостями
            </h5>
            <div class="social_box">
              <a href="">
                <img src="../assets/images/fb.png" alt="">
              </a>
              <a href="">
                <img src="../assets/images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="../assets/images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="../assets/images/youtube.png" alt="">
              </a>
              <a href="">
                <img src="../assets/images/telegram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- end info_section -->
</div>
