<div class="box">
  <a href="/lot?id={{info.lotId}}">
    <div class="new" *ngIf="info.actual">
      <h5>New</h5>
    </div>
    <div class="img-box">
      <img src="../assets/images/slider-img.png" alt="" *ngIf="isImageLoading; else ImageFound">
      <ng-template #ImageFound>
        <img [src]="imageToShow" alt="" />
      </ng-template>
    </div>
    <div class="detail-box">
      <div *ngIf="auctionType; else other">
        <h6>{{auctionType}}</h6>
      </div>
      <ng-template #other>
        <h6>English auction</h6>
      </ng-template>
      <h6 class="price">
        {{info.currentCost}}$
      </h6>
      <h6>{{info.name}}</h6>
    </div>
  </a>
</div>
