<div class="form-group">
  <label>Начальная цена:</label>
  <input type="number" [(ngModel)]="info.InitialPrice" class="form-control" />
</div>
<div class="form-group">
  <label>Шаг ставки</label>
  <input type="number" [(ngModel)]="info.PriceStep" class="form-control" />
</div>
<div class="form-group">
  <label>Количество циклов</label>
  <input type="number" [(ngModel)]="info.CyclesCount" class="form-control" />
</div>
<div>
  <label>Тип аукциона</label>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="info.AuctionTypeId">
    @for (key of auctionTypesKeys; track key) {
    <mat-radio-button [value]="key">{{auctionTypes[key]}}</mat-radio-button>
    }
  </mat-radio-group>
</div>
<div>
  <input type="button" value="Сохранить" (click)="run()" class="btn btn-success" />
</div>
