<div class="form-group">
  <label>Начальная цена:</label>
  <input type="number" [(ngModel)]="info.InitialPrice" class="form-control" />
</div>
<div class="form-group">
  <label>Шаг ставки</label>
  <input type="number" [(ngModel)]="info.PriceStep" class="form-control" />
</div>
<div class="form-group">
  <label>Количество циклов</label>
  <input type="number" [(ngModel)]="info.CyclesCount" class="form-control" />
</div>
<div>
  <label>Тип аукциона</label>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="info.AuctionTypeId">
    <mat-radio-button *ngFor = "let at of auctionTypes | keyvalue"[value]="at.key">{{at.value}}</mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <simulation-user-form *ngFor = "let user of info.Users; index as i" [(user)] ="info.Users[i]"></simulation-user-form>
</div>
<div>
  <input type="button" value="Добавить" (click)="addUser()" class="btn btn-success" />
</div>
<div>
  <input type="button" value="Запустить" (click)="run()" class="btn btn-success" />
</div>
<div>
  <grafico-barras [list]="graficoInfo"></grafico-barras>
</div>
